[submodule "libs/libs/aws_sdk/aws-sdk-cpp"]
	path = libs/libs/aws_sdk/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp
[submodule "libs/aws-sdk-cpp"]
	path = libs/aws-sdk-cpp
	url = https://github.com/aws/aws-sdk-cpp.git
